@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: "Montserrat";
  color: #595959;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-width: 5px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #B721FF 0%, 
      #21D4FD 100%
    ) 1 100%;
    overflow: hidden !important;
}

a{
  text-decoration: none;
  color: #595959;
}

.container{
  padding: 0 200px;
}


.path {
  animation: dash 10s linear alternate infinite;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: .3s;
}

.preloader{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader svg{
  width: 100px;
}

@keyframes dash {
  from {
    stroke-dashoffset: 10000;
  }
  to {
    stroke-dashoffset: 0;
  }
}


@media screen and (max-width: 1024px){
  .container{
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px){
  .container{
    padding: 0 70px;
  }
}

@media screen and (max-width: 425px){
  .container{
    padding: 0 15px;
  }
}

.container nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  line-height: 30px;
  font-size: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}

.container nav .logo img{
  width: 40px;
  align-self: center;
}

.container nav .logo{
  display: flex;
  
}

.container nav .logo p{
  align-self: flex-end;
  margin-left: 11px;
}

.container nav a{
  line-height: 123px;
}

.center{
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center h1{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 0px;
  color: #111111;
  white-space: nowrap;
}

.center p{
  font-size: 20px;
  line-height: 40px;
  margin: 5px;
}

.center p span{
  font-weight: 500;
  font-size: 24px;
}


button {
  background: none;
  border: none;
  outline: none;
  padding: 15px 25px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}
button::after {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(266.92deg, #B721FF 4.11%, #21D4FD 97.45%);
  position: absolute;
  left: -35px;
  top: 50%;
  z-index: -1;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
button:hover:after {
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 50px;
}

button:hover{
  color: #fff;
  transition: .2s;
}

.lights{
  position: absolute;
  top: 0;
  left: 0;
}
.lights img{
  position: absolute;
  z-index: -1;
}

.lights img:nth-child(1){
  width: 180px;
  margin: 30vh 0 0 5vw;
  filter: blur(10px);
}
.lights img:nth-child(2){
  width: 130px;
  margin: 50vh 0 0 85vw;
  filter: blur(3px);
}
.lights img:nth-child(3){
  width: 70px;
  margin: 65vh 0 0 20vw;
  filter: blur(1px);
}


@media screen and (max-width: 1024px){
  .lights img:nth-child(2){
    margin: 50vh 0 0 75vw;
  }
}



@media screen and (max-width: 768px){
  .center h1{
    font-size: 65px;
  }
  .center p{
    font-size: 16px;
    line-height: 40px;
  }
  .center p span{
    font-weight: 500;
    font-size: 18px;
  }

  .lights{
    display: none;
  }
  
}

.dud {
  opacity: .5;
}

#particles-js{
  width: calc(100% - 25px);
  height: calc(100vh - 50px);
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#particles-js canvas{
  height: 90vh;
}

.contacts{
  position: fixed;
  z-index: 999;
  color: #000000;
  background-color: #fff;
  width: calc(100% - 10px);
  height: 100vh;
  margin-left: -100%;
  transition: .6s cubic-bezier(0.19, 1, 0.22, 1);
  margin-top: calc(-100vh + 95px);
  padding: 30px 10px;
}

.contacts img{
  width: 30px;
}

.contacts__toggle{
  margin-left: 0;
}

.contacts .close img{
  width: 20px;
}

.contacts .close{
  cursor: pointer;
  float: right;
}

.contacts h2{
  font-weight: 600;
  font-size: 37px;
  line-height: 200px;
}

.contacts h3{
  font-weight: 300;
  font-size: 32px;
 
}

.contacts img{
  width: 40px;
}
.contacts .social{
  width: 200px;
  display: flex;
  justify-content: space-between;
}