@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: "Montserrat";
  color: #595959;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  padding: 1rem;  
  border-width: 5px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #B721FF 0%, 
      #21D4FD 100%
    ) 1 100%;
    overflow: hidden !important;
}

a{
  text-decoration: none;
  color: #595959;
}

.container{
  padding: 0 200px;
}

@media screen and (max-width: 1024px){
  .container{
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px){
  .container{
    padding: 0 70px;
  }
}

@media screen and (max-width: 425px){
  .container{
    padding: 0 15px;
  }
}

.container nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  line-height: 30px;
  font-size: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}

.container nav .logo img{
  width: 40px;
  align-self: center;
}

.container nav .logo{
  display: flex;
  
}

.container nav .logo p{
  align-self: flex-end;
  margin-left: 11px;
}

.container nav a{
  line-height: 123px;
}

.center{
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center h1{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 0px;
  color: #111111;
  white-space: nowrap;
}

.center p{
  font-size: 20px;
  line-height: 40px;
}

.center p span{
  font-weight: 500;
  font-size: 24px;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 15px 25px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}
button::after {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(266.92deg, #B721FF 4.11%, #21D4FD 97.45%);
  position: absolute;
  left: -35px;
  top: 50%;
  z-index: -1;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
button:hover:after {
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 50px;
}

button:hover{
  color: #fff;
  transition: .2s;
}

.lights{
  position: absolute;
  top: 0;
  left: 0;
}
.lights img{
  position: absolute;
  z-index: -1;
}

.lights img:nth-child(1){
  width: 180px;
  margin: 30vh 0 0 5vw;
  filter: blur(10px);
}
.lights img:nth-child(2){
  width: 130px;
  margin: 50vh 0 0 85vw;
  filter: blur(3px);
}
.lights img:nth-child(3){
  width: 70px;
  margin: 65vh 0 0 20vw;
  filter: blur(1px);
}


@media screen and (max-width: 1024px){
  .lights img:nth-child(2){
    margin: 50vh 0 0 75vw;
  }
}



@media screen and (max-width: 768px){
  .center h1{
    font-size: 65px;
  }
  .center p{
    font-size: 16px;
    line-height: 40px;
  }
  .center p span{
    font-weight: 500;
    font-size: 18px;
  }

  .container nav{
    margin-top: -20px;
  }

  .lights img:nth-child(1){
    width: 130px;
    margin: 30vh 0 0 5vw;
    filter: blur(10px);
  }
  .lights img:nth-child(2){
    width: 80px;
    margin: 50vh 0 0 75vw;
    filter: blur(3px);
  }
  .lights img:nth-child(3){
    width: 50px;
    margin: 80vh 0 0 20vw;
    filter: blur(1px);
  }
  
}

.dud {
  opacity: .5;
}

#particles-js{
  width: calc(100% - 25px);
  height: calc(100vh - 50px);
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#particles-js canvas{
  height: 90vh;
}